@import url("https://fonts.googleapis.com/css2?family=Arvo&family=Montserrat:wght@300;400&display=swap");
:root {
  --primary-text-color: #4a4a4a;
  --secondary-text-clor: #fff;
  --primary-color: #0099ff;
}

* {
  margin: 0;
  padding: 0;
  /* box-sizing: border-box; */
}

body {
  font-family: "Montserrat", sans-serif;
  color: var(--primary-text-color);
  background-color: #fff;
}
img {
  width: 100px;
}

.container {
  width: 80%;
  margin: auto;
}

.navbar {
  position: fixed;
  top: 0;
  z-index: 1;
  display: flex;
  width: 100%;
  height: 60px;
  background-color: rgba(0, 147, 233, 0.6);
  /* background-color: rgba(0, 0, 255, 0.5); */
}

.navbar ul {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: flex-end;
  list-style: none;
}

.navbar ul li {
  margin: 0 1rem;
  padding: 1rem;
  /* font-weight: 900; */
}

.navbar ul li a {
  text-decoration: none;
  color: var(--secondary-text-clor);
}

section {
  display: flex;
  flex-direction: column;
  width: 100%;
  /* height: 100vh; */
  /* justify-content: center; */
  align-items: center;
}

/* HERO SECTION */
#hero-section {
  border-radius: 0 0 30rem 0rem;
  height: 100vh;
  /* align-items: center; */
  color: var(--secondary-text-clor);
  background-color: #8bc6ec;
  background-color: #0093e9;
  background-image: linear-gradient(160deg, #0093e9 0%, #80d0c7 100%);
}

#hero-div {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

#hero-text {
  font-size: 20px;
  animation: hero-text-anim 0.8s;
  animation-timing-function: cubic-bezier(1, -0.03, 0.59, 1.53);
}

#hero-text-headline {
  font-family: "Arvo", sans-serif;
  font-size: 45px;
  display: block;
  font-weight: 900;
}

/* TECH STACK SECTION*/

/* .tech-img-span {
  padding: 0px;
} */

.tech-stack-item-img {
  /* padding: 0; */
  padding-bottom: 10px;
}

#tech-stack-section {
  margin-top: 40px;
}

#tech-stack-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 10px;
  /* align-items: center;
  justify-content: center;
  flex-wrap: wrap; */
}

.tech-stack-item-name {
  margin: 10px 0px;
}

#sub-heading {
  font-family: "Arvo", sans-serif;
  font-size: 30px;
  display: block;
  font-weight: 900;
  margin-bottom: 20px;
}

span.tech-list-item {
  border: 1px solid var(--primary-text-color);
  box-shadow: 2px 4px 10px #4a4a4a;
  display: flex;
  border-radius: 15px;
  flex-direction: column;
  align-items: center;
  margin: 15px 10px;
  padding-left: 0px;
}

/* PROJECTS SECTION */
.horizontal-line {
  margin: 15px 0px;
  color: #f5f2f2;
}

span.project-list-item {
  border: 1px solid var(--primary-text-color);
  box-shadow: 2px 4px 10px #4a4a4a;
  border-radius: 0px 0px 10px 10px;
  /* align-items: center; */
  margin: 15px 10px;
  padding-left: 0px;
  min-height: 400px;
}

#project-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
  /* align-items: center;
  justify-content: center;
  flex-wrap: wrap; */
}
.disable {
  opacity: 0.5;
}
.project-img {
  width: 300px;
  max-height: 150px;
  margin-bottom: 15px;
}

.project-info {
  width: 85%;
  margin: auto;
}

.project-title {
  font-size: 25px;
  font-weight: 20px;
  color: #2b2b2b;
  font-family: "Montserrat", sans-serif;
}
.project-icon {
  margin-top: 0;
  margin-bottom: 40px;
  margin-right: 4%;
  font-size: 1.7em;
  text-decoration: none;
  color: #2b2b2b;
}
.project-icons-div {
  margin-bottom: 10px;
  margin-top: 5px;
}
.project-technology-list {
  margin-top: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 15px;
}
.project-tech-item {
  margin-bottom: 8px;
  margin-top: 5px;
  padding-left: 5px;
  border-left: 2px solid var(--primary-text-color);
  font-size: 12px;
}

.project-item-subtext {
  font-size: 13px;
}

/* SVG */
#Table {
  animation: tableAnim 1.5s;
}

#Laptop {
  animation: laptop 1.5s;
}

#Man,
#Chair {
  opacity: 0;
  animation: man 1.5s linear 0.5s forwards;
}

/* MEDIA QUERIES */
/* TABLET */
@media (max-width: 768px) {
  /* body {
    display: none;
  } */
  svg {
    display: none;
  }
  #hero-text {
    font-size: 18px;
  }
  #hero-text-headline {
    font-size: 22px;
  }

  #tech-stack-list {
    grid-template-columns: 1fr 1fr;
    /* align-items: center;
  justify-content: center;
  flex-wrap: wrap; */
  }

  #project-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    /* align-items: center;
  justify-content: center;
  flex-wrap: wrap; */
  }
}
/* MOBILE */
@media (max-width: 500px) {
  /* body {
    display: none;
  } */

  #hero-text {
    font-size: 15px;
  }
  #hero-text-headline {
    font-size: 20px;
  }
  .navbar ul li {
    margin: 0 0.5rem;
    /* padding: 1rem; */
  }
  .navbar ul {
    justify-content: center;
  }

  #tech-stack-list {
    grid-template-columns: 1fr 1fr;
  }

  span.tech-list-item {
    margin: 30px;
  }

  span.tech-list-item {
    border: 0px;
    box-shadow: none;
  }
  #project-list {
    display: grid;
    grid-template-columns: 1fr;
    /* gap: 20px; */
    /* align-items: center;
  justify-content: center;
  flex-wrap: wrap; */
  }
}

@keyframes tableAnim {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes laptop {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes man {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes hero-text-anim {
  from {
    transform: scale(0.6);
  }
  to {
    transform: scale(1);
  }
}
